# Jupyter
jupyter>=1.1.1

# MCP Server dependencies
fastmcp>=3.4.4
mcp[cli]>=1.28.1

# LangGraph demo dependencies
langchain>=1.3.14
langchain-nvidia-ai-endpoints>=1.4.3
langgraph>=1.2.9

# NeMo Agent Toolkit
nvidia-nat[langchain]>=1.8.0
nvidia-nat[mcp]>=1.8.0
nvidia-nat[phoenix]>=1.8.0
nvidia-nat[eval]>=1.8.0
nvidia-nat[profiling]>=1.8.0

# Observability
arize-phoenix>=15.4.0

# Package Dependencies
strictyaml>=1.7.3
